#interactive-button {
    border-style: outset;
    border-width: 3px;
    border-color: #C0C0C0 #404040 #404040 #C0C0C0; 
    cursor: pointer;
}
#interactive-button:hover {
    border-style: inset; 
}


#spiral-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    display: none; 
    justify-content: center;
    align-items: center;
    z-index: 9999; 
}
.show-spiral {
    display: flex !important; 
}


#spiral-content {
    width: 600px;
    height: 450px;
    border: 5px solid #00FFFF; 
    background-color: #000080; 
    padding: 10px;
    text-align: center;
    overflow: hidden; 
    
    
    background-image: radial-gradient(circle at center,
        #FF00FF 0%, #FF00FF 10%, 
        #00FF00 10%, #00FF00 20%, 
        #FFFF00 20%, #FFFF00 30%, 
        #00FFFF 30%, #00FFFF 40%  
    );
    transform: rotate(0deg); 
}

.animate-spiral {
    animation: vintageSpin 4s linear infinite; 
}


@keyframes vintageSpin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}


@keyframes blink {
    50% { opacity: 0; }
}
#spiral-content h2 {
    animation: blink 5s step-end infinite;
    color: #4000ff; 
}