body {
    background-image: url(BackgroundInventory1-small.jpeg);
    background-attachment: fixed;
    background-size: 100;
}
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

.wrapper{
    width: 0%;
    height: 0vh;
    display: flex;
    justify-content: relative;
    align-items: relative;
}
.image{
    width: 100px;
    height: 100px;
    position: relative;
}
SmallImage{
    height: auto;
    width: 750;
    border-radius: 2%;
    box-shadow: 10px 10px 8px 10px #888888;
}
.img{
    width: 100%;
    display: block;
    margin: auto;

}

.content{
    width: 100%;
    height: 100%;
    top: 100;
    left: 0;
    position: relative;
    background:rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
}
.content :hover{
    opacity: 1;
}

.spotify-container{
    position: relative;
    bottom: 100px;
    right: 100px;
    z-index: 100;

}