H1, H3 {color: #0c3a2c; text-decoration-color:#72998a; 'Times New Roman', Times, serif;}
body {color: #41340c; 'Times New Roman', Times, serif;}
h1 {color:#192b52 ; background-color: #587e4c;'Times New Roman', Times, serif;

position:fixed;
    top: -10px;
    right: 270px;}
}

body {
    background-image: url(Background-small.jpeg);
    background-attachment: fixed;
    background-size: 100;
}
#Dresser {width: 450px;}
#Shopkeeper {width: 450px;}
#CatMug {width: 80px;} 
#SkullLamp {width: 80px;}
#Lighter {width: 25px;}
#Pearls {width: 80px;}
#CD {width: 100px;}
#Hanger2 {width: 150px;}
#AlienTee {width: 200px;}
#Hanger1 {width: 150px;}
#Sweater {width: 300px;}


/* --- 4. POSITIONING (All elements are fixed/absolute) --- */

/* Shopkeeper: Positioned on the left side, adjusted from -100px to be visible */
#Shopkeeper {
    position:fixed;
    top: 50px;
    left: -100px;

}

.image-container {
    position:relative;
}
#photo-container{
    display:flex;

}
.photo{
    position: relative;
    width: 400px;

}
.photo .description{
    position:fixed;
    top: 125px;
    right: 350px;
    background color:rgba(0,0,0,0.6);
    color: white;
    padding: 24px;
    display: none;

}

photo:hover .description {
    display: block;

}

#CatMug {
    position:fixed;
    top: 155px;
    right: 350px;
  
}
#SkullLamp {
    position:fixed;
    top: 110px;
    right: 200px;
}
#Lighter {
    position:fixed;
    top: 400px;
    right: 157px;
}
#Pearls {
    position:fixed;
    top: 280px;
    right: 310px;
}
#CD {
    position:fixed;
    top: 445px;
    right: 155px;
  
}
.image-container {
    position:relative;
}
.image-container {
    position:relative;
}

#Hanger2 {
    position:fixed;
    top: 50px;
    right: 660px;
}
#AlienTee {
    position:fixed;
    top: 100px;
    right: 630px;
  
}

}
.image-container {
    position:relative;
}

#Hanger1 {
    position:fixed;
    top: 280px;
    right: 630px;
}
#Sweater {
    position:fixed;
    top: 300px;
    right: 560px;
  
}
.image-container {
    position:relative;
}

#Dresser {
    position:fixed;
    top: 80px;
    right: 100px;
.image-container {
    position:relative;
}



